<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app" class="container">
    <div class="logo">
        <img src="img/logo.png">
    </div>
    <form class="new-task"   @submit.prevent="addTodo" >
        <input type="text" placeholder="Inserisci una task" v-model="taskNewToDo" required>
        <button type="submit">Aggiungi task</button>
    </form>
    <div class="tasks-container">
        <ul v-if="toDoList.length > 0">
            <li class="task" v-for="(todo, index) in toDoList">
                <span :class="{ 'line': todo.done }" @click="onClickTodo(todo)">{{ todo.task }}</span>
                <i class="fas fa-times" @click="removeToDo(index)"></i>
            </li>
        </ul>
        <h2 v-else>Non sono presenti task</h2>
    </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>